<legend>{{ headline }}</legend>

<br/>
<form name="thisForm" class="form-horizontal" autocomplete="off" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="officeName">Name <span class="data-required">*</span></label>
        <div class="col-sm-4" ng-class="{ 'has-error': (thisForm.officeName.$dirty || thisForm.submitted) && thisForm.officeName.$error.required}">
            <input type="text" id="officeName" name="officeName" class="form-control" ng-model="office.name" placeholder="Office name" required>
            <span class="msg-error" ng-show="(thisForm.officeName.$dirty || thisForm.submitted) && thisForm.officeName.$error.required">Office name required</span>
        </div>

        <label class="col-sm-2 control-label" for="editContactInput">Contact<span class="data-required">*</span></label>
        <div class="col-sm-4" ng-class="{ 'has-error': thisForm.contactInput.$invalid && thisForm.contactInput.$dirty }">
            <input type="number" id="editContactInput" name="contactInput" class="form-control" ng-model="office.contact" ng-minlength="10" ng-maxlength="11" placeholder="contact number" required>
            <span class="msg-error" ng-show="thisForm.submitted && thisForm.contactInput.$invalid">Contact numeber requires 10 digits minimum </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="city">City<span class="data-required">*</span></label>
        <div class="col-sm-4" ng-class="{ 'has-error': thisForm.city.$invalid && thisForm.city.$dirty }">
            <select id="city" ng-options="city.id as city.name for city in cities" class="form-control" ng-model="office.cityId" required></select>

            <!-- <input id="city" type="text" placeholder="City" ng-model="cityName"  typeahead="city.name for city in cities | filter:$viewValue | limitTo:8"
                    class="form-control" typeahead-min-length="1" typeahead-on-select="selectFromCity($item)"
                    typeahead-select-on-exact="true" required>
             <input id="fromCityInputId"type="hidden" ng-model="office.cityId" >-->
        </div>

        <label class="col-sm-2 control-label" for="city">Manager</label>
        <div class="col-sm-4">
            <select id="manager" ng-options="user.id as user.fullName for user in users" class="form-control" ng-model="office.managerId"></select>
            <a ng-click="launchUserAdd()">Add New User</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="editEmailInput">Email</label>
        <div class="col-sm-4" ng-class="{ 'has-error': thisForm.emailInput.$invalid && thisForm.emailInput.$dirty }">
            <input type="email" id="editEmailInput" name="emailInput" class="form-control" ng-model="office.email" placeholder="Email">
        </div>

        <label class="col-sm-2 control-label" for="editEmailInput">Address</label>
        <div class="col-sm-4">
            <input type="text" id="address" name="address" class="form-control" ng-model="office.address" placeholder="Address">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4 text-right">
            <button class="btn btn-primary" ng-click="save(thisForm)">Save</button>
        </div>
        <div class="col-sm-3 next">
            <button  class="btn btn-danger" ng-click="cancel(thisForm)">Cancel</button>
        </div>
    </div>

</form>


