<div class="container" ng-show="downloaded" >
    <table class="table table-bordered table-condensed table-hover" >
        <tr><td>From: {{service.source}}</td> <td>To:{{service.destination}}</td> <td>Journey Date: {{service.jdate | date}}</td><td>{{service.busType}}</td></tr>
        <tr><td>Conductor: {{service.conductorInfo}}</td> <td>Vehicle:{{service.vehicleRegNumber}}</td> <td>Report ID: {{service.serviceReportId}}</td><td>Submitted By: {{service.attributes.submittedBy}}</td></tr>
    </table>
    <table class="table table-bordered table-condensed table-hover">
        <tr><td>Net Income - Redbus</td><td>{{service.netRedbusIncome}}</td>
            <td>Net Income - Abhibus</td><td>{{service.netOnlineIncome}}</td>
            <td>Net Income - Cash</td><td>{{service.netCashIncome}}</td>
            <td>Total Income</td><td>{{service.netIncome}}</td>
        </tr>
    </table>
    <div class="row" >
        <div class="col-sm-6" style="overflow-y: auto;height: 60%;">
            <h4>Bookings</h4>
            <table class="table table-bordered table-condensed table-hover" ng-table="bookingsTableParams">
                <tr ng-repeat="booking in currentPageOfBookings">
                    <td data-title="'BookedBy'"  sortable="'bookedBy'" class="clickable-item col-md-2">{{ booking.bookedBy }}</td>
                    <td data-title="'Ticket'"  sortable="'ticketNo'" class="clickable-item col-md-2">{{ booking.ticketNo }}</td>
                    <td data-title="'Seats'"  sortable="'seatsCount'" class="clickable-item col-md-2">{{ booking.seatsCount }}</td>
                    <td data-title="'Basic + Tax'"  class="clickable-item col-md-2" >
                        {{booking.basicAmount + booking.serviceTax}}
                    </td>
                    <td data-title="'NetAmt'"  sortable="'netAmt'" class="clickable-item col-md-2" >
                        {{booking.netAmt}}
                        <span style="color:red;" ng-show="booking.due">Due</span>
                    </td>
                </tr>
                <tr><td>Total</td><td>{{service.seatsCount}}</td><td/></tr>
                <tr ng-if="!currentPageOfBookings || currentPageOfBookings.length === 0">
                    <td colspan="5">No bookings found. </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h4>Expenses</h4>
            <table class="table table-bordered table-condensed table-hover">
                <tr ng-repeat="expense in service.expenses">
                    <td>{{expense.name}}</td>
                    <td>{{expense.amount}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h4>Staff</h4>
            <table class="table table-bordered table-condensed table-hover">
                <tr ng-repeat="s in service.staff">
                    <td>{{s.nameCode}}</td>
                    <td>{{s.type}}</td>
                </tr>
            </table>
        </div>
    </div>

    <br/>

</div>

<div ng-show="!downloaded">
    Please wait while the report data is loaded <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>