<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Expiring vehicle documents</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: left;
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }

    </style>
</head>
<body>
<table id="t01">
    <caption>Expiring documents</caption>
    <tbody>
    <tr>
        <th>Vehicle Reg#</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>Permit expiring</td>
        <td>#foreach($vehicle in $permitExpiring)
            $vehicle.regNo ($vehicle.permitExpiry),
        #end
        </td>
    </tr>
    <tr>
        <td>Fitness expiring</td>
        <td>#foreach($vehicle in $fitnessExpiring)
            $vehicle.regNo ($vehicle.fitnessExpiry),
        #end
        </td>
    </tr>
    <tr>
        <td>Insurance expiring</td>
        <td>#foreach($vehicle in $insuranceExpiring)
            $vehicle.regNo ($vehicle.insuranceExpiry),
        #end
        </td>
    </tr>
    <tr>
        <td>Authorization expiring</td>
        <td>#foreach($vehicle in $insuranceExpiring)
            $vehicle.regNo ($vehicle.insuranceExpiry),
        #end
        </td>
    </tr>
    <tr>
        <td>Pollution expiring</td>
        <td>#foreach($vehicle in $pollutionExpiring)
            $vehicle.regNo ($vehicle.pollutionExpiry),
        #end
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
