<legend>{{ headline }}</legend>


<ol class="breadcrumb">
    <li><a ng-href="/#/cities">All Cities</a></li>
    <li ng-repeat="crumb in breadCrumbs"><a ng-href="/#/cities/{{crumb.id}}">{{crumb.name}}</a></li>
    <li><strong>{{ city.name }}</strong></li>
</ol>


<div class="toolbar-button-div pull-right">
    <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddBoardingPoint()"><span
            class="glyphicon glyphicon-plus"></span> Add Boarding Point
    </button>
    <button type="button"  class="btn btn-sm btn-danger" ng-click="handleDeleteButtonClicked(city.id)"><i
            class="glyphicon glyphicon-remove"></i> Delete {{ city.name }}
    </button>

</div>
   <!-- <div class="container">-->
        <table class="table table-bordered table-condensed table-hover" ng-table="boardingPointContentTableParams">
            <tr ng-repeat="boardingPoint in currentPageOfBoardingPoints" ng-class="boardingPoint.active?'':'bg-danger'">
                <td data-title="'Name'"  sortable="'name'" class="clickable-item col-md-6">{{ boardingPoint.name }}</td>
                <td data-title="'Landmark'" class="clickable-item col-md-4">{{ boardingPoint.landmark }}</td>
                <td>
                    <md-button>
                        <md-icon type="button" class="btn" ng-click="deleteBpOnClick(boardingPoint.id)">
                            <span class="glyphicon glyphicon-remove"></span></md-icon>
                    </md-button>

                </td>
                <td>
                    <md-button>
                        <md-icon type="button" class="btn" ng-click="updateBpOnClick(boardingPoint.id)">
                            <span class="glyphicon glyphicon-pencil"></span></md-icon>
                    </md-button>
                </td>
            </tr>
            <tr ng-if="!currentPageOfBoardingPoints || currentPageOfBoardingPoints.length === 0">
                <td colspan="4">No boardingPoint exist.  Please add some.</td>
            </tr>
        </table>

<script type="text/ng-template" id="add-boardingpoint-to-city-state-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Boarding point to {{ city.name }}</h3>
    </div>
    <div class="modal-body">
        <form name="addBoardingPointForm" role="form" class="container-fluid">

            <div class="form-group">
                <label for="modalAddNeighInput">Boarding Point</label>

                <div class="row top-buffer-5">
                    <div class="col-xs-10">
                        <div class="form-group" ng-class="{ 'has-error': addBoardingPointForm.name.$invalid }">
                            <input type="text" id="modalAddNeighInput" name="name" class="form-control"
                                   ng-model="boardingPoint.name" placeholder="name" required>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer-5">
                    <div class="col-xs-10">
                        <div class="form-group" ng-class="{ 'has-error': addBoardingPointForm.landmark.$invalid }">
                            <input type="text" class="form-control" name="landmark" ng-model="boardingPoint.landmark"
                                   placeholder="near by landmark" required>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer-5">
                    <div class="col-xs-10">
                        <div class="form-group" ng-class="{ 'has-error': addBoardingPointForm.contact.$invalid }">
                            <input type="number" class="form-control" name="contact" ng-model="boardingPoint.contact"
                                   ng-minlength="7" ng-maxlength="10" placeholder="contact number" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="checkbox top-buffer-5">
                    <input type="checkbox" value=""  ng-model="boardingPoint.active">Active
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok(id)" ng-disabled="!isInputValid()">Add</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>

                </div>
        </form>
    </div>
</script>
<!-- -------------------modal popup for deleting City --------------------------------------------->

<script type="text/ng-template" id="delete-city-state-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Do you want to delete BoardingPoint ? </h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(id)">Delete</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!-- -------------------modal popup for deleting BordingPoint(Bp) --------------------------------------------->

<script type="text/ng-template" id="delete-boardingPt.html">
    <div class="modal-header">
        <h3 class="modal-title">Do you want to delete BoardingPoint ? </h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(boardingpt.id)">Delete</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</script>

<!--modal popup for updating boardingpoint(Bp) to existing city/state/boardingpoint -->

<script type="text/ng-template" id="update-boardingPt.html">
    <div class="modal-header">
        <h3 class="modal-title">Update Boarding point to {{ city.name }}</h3>
    </div>
    <div class="modal-body">
        <form name="updateBoardingPointForm" role="form" class="container-fluid">

            <div class="form-group">
                <label for="modalUpdateNeighInput">Boarding Point</label>

                <div class="row top-buffer-5">
                    <div class="col-xs-10">
                        <input type="text" id="modalUpdateNeighInput" class="form-control" ng-model="boardingPoint.name"
                               placeholder="name">
                    </div>
                </div>
                <div class="row top-buffer-5">
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="boardingPoint.landmark"
                               placeholder="near by landmark">
                    </div>
                </div>
                <div class="row top-buffer-5">
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="boardingPoint.contact"
                               placeholder="contact number">
                    </div>
                </div>
                <div class="checkbox top-buffer-5">
                   <input type="checkbox"  value="" ng-model="boardingPoint.active"/>Active
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok(boardingPoint.id)">Update</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

        </form>
    </div>
</script>
