<style type="text/css">
    .holder{
    height:300px;
    width:750px;
    background-color:#F5F5F5;
    border:1px solid #A4A4A4;
    margin-left:10px;
    }

    .bigbus{
    height:400px;
    width:750px;
    background-color:#F5F5F5;
    border:1px solid #A4A4A4;
    margin-left:10px;
    }

    table tr td.seat{
    background:url("images/available_seat_img.gif") no-repeat scroll 0 0 transparent;
    height:77px;
    //width:40px;
    }

    table tr td.sleeper{
    background:url("images/sleeper.png") no-repeat scroll 0 0 transparent;
    height:77px;
    //width:40px;
    }

    #place .selectedSeat
    {
    background-image:url("images/booked_seat_img.gif");
    }
    #place .selectingSeat
    {
    background-image:url("images/selected_seat_img.gif");
    }
    .seatDescription{
    padding-left : 5px;
    font-size : 10px;
    }

</style>



<div ng-class="container">
    <!--seat arrangement-->
    <form name="layoutForm">
        <div class="form-group">

            <div class="row">
                <div class="col-sm-4">
                    <!-- <label for="sel1">Name:</label> -->
                    <input type="text" placeholder="Name" class="form-control" ng-model="busLayoutEditCtrl.name" required>
                    <br>
                </div>
                <div class="col-sm-4">
                    <!-- <label for="sel1">Type:</label> -->
                    <select class="form-control" ng-options="type.name for type in busLayoutEditCtrl.layouts" data-ng-model="busLayoutEditCtrl.type" ng-change="busLayoutEditCtrl.doLayout()" required>
                    	<option value="" selected="selected">-- Type --</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <!-- <label for="sel1">Seats per row:</label> -->
                    <select class="form-control" ng-options="seat.name for seat in busLayoutEditCtrl.seats" data-ng-model="busLayoutEditCtrl.seatsPerRow" ng-change="busLayoutEditCtrl.doLayout()" required>
                    	<option value="" selected="selected">-- Seats per row --</option>
                    </select>
                    <br>
                </div>
                <div class="col-sm-4">
                    <!-- <label for="sel1">No of rows:</label> -->
                    <select class="form-control" ng-options="row.name for row in busLayoutEditCtrl.rows" data-ng-model="busLayoutEditCtrl.totalRows" ng-change="busLayoutEditCtrl.doLayout()" required>
                    	<option value="" selected="selected">-- No of rows --</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <!-- <label for="sel1">Middle Row:</label> -->
                    <select class="form-control" ng-options="row.name for row in busLayoutEditCtrl.middleRows" data-ng-model="busLayoutEditCtrl.middleRow" ng-change="busLayoutEditCtrl.doLayout()" required>
                    	<option value="" selected="selected">-- Middle Row --</option>
                    </select>
                    <br>
                </div>
                <div class="col-sm-4">
                    <!-- <label for="sel1">Middle Row Seat:</label> -->
                    <select class="form-control" ng-options="row.name for row in busLayoutEditCtrl.middleRowSeats" data-ng-model="busLayoutEditCtrl.middleRowSeat" ng-change="busLayoutEditCtrl.doLayout()" required>
                    	<option value="" selected="selected">-- Middle Row Seat --</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 control-label checkbox" for="activeInactive">Active</label>
                <div class="col-sm-1">
                    <input type="checkbox" ng-checked="busLayoutEditCtrl.active" class="form-control" ng-model="busLayoutEditCtrl.active">
                </div>
                <label class="col-sm-3 control-label checkbox" for="activeInactive">Total Seats</label>
                <div class="col-sm-1">
                    <span>{{busLayoutEditCtrl.totalSeats}}</span>
                </div>
            </div>
        </div>
    </form>

    <input type="submit" class="btn btn-primary" ng-if="!busLayoutEditCtrl.valid" ng-disabled="layoutForm.$invalid" ng-click="busLayoutEditCtrl.saveLayout()" value="Save Layout" />
    <input type="submit" class="btn btn-primary" ng-if="busLayoutEditCtrl.valid" ng-click="busLayoutEditCtrl.saveLayout()" value="Save Layout" />
    <hr>


</div>

<table ng-if="!busLayoutEditCtrl.sleeper" class="holder" ng-class="{'bigbus': busLayoutEditCtrl.busLayout.isBig}">
    <tr ng-repeat="seats in busLayoutEditCtrl.busLayout.rows">
        <td ng-class="{'seat': seat.number}" ng-repeat="seat in seats.seats"><input type="text" style="width:35px" ng-if="seat.number" data-ng-init="mycol=busLayoutEditCtrl.getSeatName(seat);" data-ng-model="seat[mycol]" /></td>
    </tr>
</table>
<span>{{busLayoutEditCtrl.busLayout.upperHeader}}</span>
<table class="holder">
    <tr ng-repeat="seats in busLayoutEditCtrl.busLayout.upper">
        <td ng-class="{'sleeper': seat.number}" ng-repeat="seat in seats.seats"><input type="text" style="width:35px" ng-if="seat.number" data-ng-init="mycol=busLayoutEditCtrl.getSeatName(seat);" data-ng-model="seat[mycol]" /></td>
    </tr>
</table>
<span>{{busLayoutEditCtrl.busLayout.lowerHeader}}</span>
<table class="holder">
    <tr ng-repeat="seats in busLayoutEditCtrl.busLayout.lower">
        <td ng-class="{'sleeper': seat.number}" ng-repeat="seat in seats.seats"><input type="text" style="width:35px" ng-if="seat.number" data-ng-init="mycol=busLayoutEditCtrl.getSeatName(seat);" data-ng-model="seat[mycol]" /></td>
    </tr>
</table>
</div>