<style type="text/css">
    .holder{
    height:300px;
    width:750px;
    background-color:#F5F5F5;
    border:1px solid #A4A4A4;
    margin-left:10px;
    }

    .bigbus{
    height:400px;
    width:750px;
    background-color:#F5F5F5;
    border:1px solid #A4A4A4;
    margin-left:10px;
    }

    table tr td.seat{
    background:url("images/available_seat_img.gif") no-repeat scroll 0 0 transparent;
    height:77px;
    width:40px;
    }
    #place .selectedSeat
    {
    background-image:url("images/booked_seat_img.gif");
    }
    #place .selectingSeat
    {
    background-image:url("images/selected_seat_img.gif");
    }
    .seatDescription{
    padding-left : 5px;
    font-size : 10px;
    }

</style>



<div ng-class="container">
    <!--seat arrangement-->
    <form name="layoutForm">
        <div class="form-group">

            <div class="row">
                <div class="col-sm-4">
                    <label for="sel1">Bus Type:</label>
                    <select class="form-control" ng-change="busLayoutEditCtrl.doLayout()" name="busLayout" id="busLayout" ng-model="busLayoutEditCtrl.busLayouts.busLayout" required>
                        <option ng-repeat="option in busLayoutEditCtrl.busLayouts.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="sel1">Seats:</label>
                    <select class="form-control" ng-change="busLayoutEditCtrl.doLayout()" name="busColumns" id="busColumns" ng-model="busLayoutEditCtrl.busColumns.columns" required>
                        <option ng-repeat="option in busLayoutEditCtrl.busColumns.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <br>
                </div>
                <div class="col-sm-4">
                    <label for="sel1">Rows:</label>
                    <select class="form-control" ng-change="busLayoutEditCtrl.doLayout()" name="rows" id="rows" ng-model="busLayoutEditCtrl.busRows.rows" required>
                        <option ng-repeat="option in busLayoutEditCtrl.busRows.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="sel1">Middle Row:</label>
                    <select class="form-control" ng-change="busLayoutEditCtrl.doLayout()" name="middleRow" id="middleRow" ng-model="busLayoutEditCtrl.middleRow.middleRow" required>
                        <option ng-repeat="option in busLayoutEditCtrl.middleRow.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <br>
                </div>
                <div class="col-sm-4">
                    <label for="sel1">Middle Row Seat:</label>
                    <select class="form-control" ng-change="busLayoutEditCtrl.doLayout()" name="middleRowSeat" id="middleRowSeat" ng-model="busLayoutEditCtrl.middleRowSeats.middleRowSeat" required>
                        <option ng-repeat="option in busLayoutEditCtrl.middleRowSeats.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <br>
                </div>
            </div>


        </div>
    </form>

    <input type="submit" class="btn btn-primary" ng-if="!busLayoutEditCtrl.valid" ng-disabled="layoutForm.$invalid" ng-click="busLayoutEditCtrl.saveLayout()" value="Save Layout" />
    <input type="submit" class="btn btn-primary" ng-if="busLayoutEditCtrl.valid" ng-click="busLayoutEditCtrl.saveLayout()" value="Save Layout" />
    <hr>


</div>

<table class="holder" ng-class="{'bigbus': busLayoutEditCtrl.busLayout.isBig}">
    <tr ng-repeat="seats in busLayoutEditCtrl.busLayout.rows">
        <td ng-class="{'seat': seat.number}" ng-repeat="seat in seats.seats"><input type="text" style="width:35px" ng-if="seat.number" data-ng-init="mycol=busLayoutEditCtrl.getSeatName(seat);" data-ng-model="seat[mycol]" /></td>
    </tr>
</table>
<span>{{busLayoutEditCtrl.busLayout.upperHeader}}</span>
<table id="holder">
    <tr ng-repeat="seats in busLayoutEditCtrl.busLayout.upper">
        <td class="{{busLayoutEditCtrl.layoutCls}}" ng-repeat="seat in seats.seats"><input type="text" style="width:35px" data-ng-init="mycol=busLayoutEditCtrl.getSeatName(seat);" data-ng-model="seat[mycol]" /></td>
    </tr>
</table>
<span>{{busLayoutEditCtrl.busLayout.lowerHeader}}</span>
<table id="holder">
    <tr ng-repeat="seats in busLayoutEditCtrl.busLayout.lower">
        <td class="{{busLayoutEditCtrl.layoutCls}}" ng-repeat="seat in seats.seats"><input type="text" style="width:35px" data-ng-init="mycol=busLayoutEditCtrl.getSeatName(seat);" data-ng-model="seat[mycol]" /></td>
    </tr>
</table>
</div>