<legend>{{ headline }}</legend>


<div class="toolbar-button-div pull-right">
    <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddExpense()"><span class="glyphicon glyphicon-plus"></span> Add Expense</button>
</div>

<br/>
<br/>


<table class="table table-bordered table-condensed table-hover" ng-table="expenseContentTableParams">
    <tr ng-repeat="expense in currentPageOfExpenses">
        <td data-title="'Date'" class="clickable-item" ng-click="goToExpense(expense.id)">{{ expense.date }}</td>
        <td data-title="'Type'" sortable="'city'" class="clickable-item" ng-click="goToExpense(expense.id)">{{ expense.type }}</td>
    </tr>
    <tr ng-if="!currentPageOfExpenses || currentPageOfExpenses.length === 0">
        <td colspan="4">No expenses exist.  Please add some.</td>
    </tr>
</table>

<!-- modal popup for adding a new expense -->
<script type="text/ng-template" id="add-expense-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add a New Expense</h3>
    </div>
    <div class="modal-body">

        <!-- ---------------------------------------------------------------------------- -->
        <form name="addNewExpenseForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="expenseDate">Expense Date</label>
                <div class="row">
                    <div class="col-sm-7">
                        <input type="text" id="expenseDate" class="form-control" ng-model="expense.date" required></state-options>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="expenseDescription">Description</label>
                <div class="col-sm-7">
                    <input type="text" id="expenseDescription" class="form-control" ng-model="expense.description">
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="!isInputValid()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>



