<legend>Fuel Consumption</legend>
<div ng-controller="fuelExpenseReportsCtrl">
    <div class="row" ng-show="!loading">
        <div class="col-sm-1">
            <button type="button" class="btn btn-default" ng-click="previousDay()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </div>

        <div class="col-sm-3">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                       is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                       close-text="Close" alt-input-formats="altInputFormats" ng-change="dateChanged()" ng-show="false"/>
                {{dt.getFullYear()+"-"+monthNames[dt.getMonth()]+"-"+dt.getDate()}}
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default" ng-click="nextDay()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <div class="row" ng-show="loading">
        loading reports data for {{date}}...
    </div>

    <div class="row" style="margin-top:20px;">
        <table class="table table-bordered table-condensed table-hover"  ng-show="downloaded">
            <tr><td>Total:{{currentPageOfReports.length}}</td> <td>Submitted:{{submitted}}</td> <td>Verified:{{verified}}</td></tr>
        </table>

        <table class="table table-bordered table-condensed table-hover" ng-table="serviceReportTableParams">
            <tr ng-repeat="service in currentPageOfFuelExpenseReports">
                <!-- <td data-title="'Service#'"  sortable="'serviceNumber'" class="clickable-item">{{ service.serviceNumber }}</td> -->
                <td data-title="'Vehicle'"  sortable="'vehicle'" class="clickable-item">{{ service.attributes.busType }}</td>
                <td data-title="'Registration#'"  sortable="'vehicle'" class="clickable-item">{{ service.vehicleNumber }}</td>
                <td data-title="'From'"  sortable="'source'" class="clickable-item">{{ service.attributes.from }}</td>
                <td data-title="'To'"  sortable="'destination'" class="clickable-item">{{ service.attributes.to }}</td>
                <td data-title="'Journey Date'"  sortable="'destination'" class="clickable-item">{{ service.journeyDate | date }}</td>
                <td data-title="'Fuel Consumption'"  class="clickable-item col-md-2" ng-click="goToServiceReport(service)">{{service.fuelQuantity}}/{{service.fuelCost}}</td>
                <td data-title="'Edit'" class="clickable-item col-md-2">
                    <md-icon type="button" class="btn" ng-click="">
                        <span class="glyphicon glyphicon-pencil" ng-click="updateFuelExpense(service.id)" ></span></md-icon>
                </td>
            </tr>
            <tr ng-if="!currentPageOfFuelExpenseReports || currentPageOfFuelExpenseReports.length === 0">
                <td colspan="7">No reports exist. </td>
            </tr>
        </table>
    </div>
</div>

<!----------------------------- Update Fuel Expense --------------------------------------------------->

<script type="text/ng-template" id="update-fuelExpense-modal.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-11">
                <h3 class="modal-title">Update Fuel Consumption</h3>
            </div>
            <div class="col-sm-1">
                <md-button>
                    <md-icon type="button" class="btn-sm" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form name="updateFuelExpenseForm" role="form" class="container-fluid">
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >Vehicle :</label>
                <div class="col-xs-7 col-xs-offset-1">
                    {{serviceExpense.attributes.busType}}
                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >From :</label>
                <div class="col-xs-7 col-xs-offset-1">
                    {{serviceExpense.attributes.from}}
                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >To :</label>
                <div class="col-xs-7 col-xs-offset-1">
                    {{serviceExpense.attributes.to}}
                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >Journey Date :</label>
                <div class="col-xs-7 col-xs-offset-1">
                    {{serviceExpense.journeyDate | date}}
                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >Vehicel Number :</label>
                <div class="col-xs-7 col-xs-offset-1">
                    <input type="text" ng-model="serviceExpense.vehicleNumber" class="form-control">
                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >Service Station :</label>
                <div class="col-xs-7 col-xs-offset-1">
                    <select id="fillingStation" ng-options="fillingStation.id as fillingStation.name for fillingStation in fillingStations" class="form-control" ng-model="serviceExpense.fillingStationId"  required></select>

                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >Fuel Quantity<span class="data-required">*</span></label>
                <div class="col-xs-7 col-xs-offset-1">
                    <input type="number" class="form-control" ng-model="serviceExpense.fuelQuantity"
                    placeholder="Fuel Quantity" required ng-change="getFuelCost()">
                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >Fuel Rate<span class="data-required">*</span></label>
                <div class="col-xs-7 col-xs-offset-1">
                    <input type="number" class="form-control" ng-model="serviceExpense.fuelRate"
                           placeholder="Fuel Rate" required ng-change="getFuelCost()">
                </div>
            </div>
            <div class="row top-buffer-5">
                <label class="col-xs-2 control-label" >Fuel Cost<span class="data-required">*</span></label>
                <div class="col-xs-7 col-xs-offset-1">
                    {{serviceExpense.fuelCost}}
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(serviceExpense.id)">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>