<div ng-controller="fullTripListController">

    <div class="row">
        <div class="col-sm-6 p-0">
            <h3>Full Trip Details</h3>
        </div>
        <div class="text-right col-sm-6">
            <button type="submit" class="btn btn-primary" ui-sref="addFullTrip"> + Add</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-condensed table-hover text-left" id="planTable" ng-table="fullTripsTableParams">
            <tr ng-repeat="trip in fullTrips" class="text-center">
                <td data-title="'S No'" class="clickable-item">{{$index + ((fullTripsTableParams.page()-1) * fullTripsTableParams.count()) }}</td>
                <td data-title="'Trip Date'" sortable="'tripDate'">{{ trip.tripDate | date }}</td>
                <td data-title="'From'" sortable="'from'">{{ trip.from  }}</td>
                <td data-title="'To'" sortable="'to'">{{ trip.to  }}</td>
                <td data-title="'Due'" sortable="'due'">{{ trip.due  }}</td>
                <td data-title="'Paid By'" sortable="'paidBy'">{{ trip.paidBy  }}</td>
                <td data-title="'Action'">
                    <a href="#" ng-click="updateFullTrip(trip.id);">
                        <i class="fa fa-pencil"></i>
                    </a>&nbsp;&nbsp;
                    <a href="#">
                        Pay Now
                    </a>
                </td>

            </tr>

        </table>
    </div>
</div>