<div ng-show="!loading" class="container">
    <legend ng-if="!user.admin">Payment for office : <b>{{user.attributes.branchName}}</b></legend>
    <legend ng-if="user.admin">Payments</legend>

    <div class="toolbar-button-div pull-right">
        <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddPayment()" ng-if="canAddPayment()"><span class="glyphicon glyphicon-plus"></span> Add</button>
    </div>
    Total {{payments.length}}
    <table class="table table-bordered table-condensed table-hover" ng-table="paymentTableParams">
        <tr ng-repeat="payment in currentPageOfPayments">
            <td data-title="'Date'" sortable="'date'" class="clickable-item" ng-click="goToExpense(expense.id)">{{payment.date | date}}</td>
            <td data-title="'CreatedOn'" class="clickable-item" ng-click="goToExpense(expense.id)">{{payment.createdAt| date}}</td>
            <td data-title="'Description'" class="clickable-item" ng-click="goToExpense(expense.id)">
                <a ng-if="payment.serviceFormId" href="#!/serviceform/{{payment.serviceFormId}}">{{payment.description}}</a>
                <span ng-if="!payment.serviceFormId">{{payment.description}}</span>
            </td>
            <td data-title="'Income'" sortable="'amount'" class="clickable-item" ng-click="goToExpense(expense.id)"> <span ng-if="payment.type=='INCOME'">{{payment.amount}}</span></td>
            <td data-title="'Expesnse'" sortable="'amount'" class="clickable-item" ng-click="goToExpense(expense.id)"><span ng-if="payment.type=='EXPENSE'">{{payment.amount}}</span></td>
            <td data-title="'Status'" sortable="'status'" class="clickable-item" ng-if="user.admin">
                <span ng-if="!payment.status">
                    <a ng-click="approveOrRejectPayment(payment,'Approve')">Approve</a>
                    <a ng-click="approveOrRejectPayment(payment)">Reject</a>
                </span>
                <span ng-if="payment.status">
                   {{payment.status}}
                </span>
            </td>
            <td style="width:10%">
                <md-icon type="button" class="btn" ng-click="edit(payment.id)">
                    <span class="glyphicon glyphicon-pencil" ng-if="payment.status == null"></span></md-icon>
                <md-icon type="button" class="btn" ng-click="delete(payment.id)" ng-if="payment.status == null">
                    <span class="glyphicon glyphicon-trash"></span></md-icon>

            </td>

        </tr>
        <tr ng-if="!currentPageOfPayments || currentPageOfPayments.length === 0">
            <td colspan="7">No entries exist.  Please add some.</td>
        </tr>
    </table>
</div>


<div ng-show="loading">
    Please wait while the agents data is loaded <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>



