<div ng-show="!loading" class="container">
    <legend ng-if="!user.admin">Payment for office : <b>{{user.attributes.branchName}}</b></legend>
    <legend ng-if="user.admin">Payments</legend>

    <div class="bpdp-tab" ng-init="tab=1">
        <ul>
            <li class="tab"  ng-class="{active:tab==1}">
                <a href ng-click="tab = 1">Pending</a>
            </li>
            <li class="tab" ng-class="{active:tab==2}">
                <a href ng-click="tab = 2">Approved/Rejected</a>
            </li>
        </ul>

        <div class="tab-content" ng-show="tab==1">
            <div class="toolbar-button-div pull-right">
                <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddPayment()" ng-if="canAddPayment()"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </div>
            Total {{pendingTotal}}
            <table class="table table-bordered table-condensed table-hover" ng-table="pendingTableParams">
                <tr ng-repeat="payment in pendingPayments">
                    <td data-title="'Date'" sortable="'date'" class="clickable-item" ng-click="goToExpense(payment.id)">{{payment.date | date}}</td>
                    <td data-title="'CreatedOn'" sortable="'createdAt'"  class="clickable-item" ng-click="goToExpense(payment.id)">{{payment.createdAt| date}}</td>
                    <td data-title="'Description'" sortable="'description'" class="clickable-item" ng-click="goToExpense(payment.id)">
                        <a ng-if="payment.serviceFormId" href="#!/serviceform/{{payment.serviceFormId}}">{{payment.description}}</a>
                        <span ng-if="!payment.serviceFormId">{{payment.description}}</span>
                    </td>
                    <td data-title="'Income'" sortable="'amount'" class="clickable-item" ng-click="goToExpense(payment.id)"> <span ng-if="payment.type=='INCOME'">{{payment.amount}}</span></td>
                    <td data-title="'Expesnse'" sortable="'amount'" class="clickable-item" ng-click="goToExpense(payment.id)"><span ng-if="payment.type=='EXPENSE'">{{payment.amount}}</span></td>
                    <td data-title="'CreatedBy'" class="clickable-item">{{payment.attributes.createdBy}}</td>
                    <td data-title="'Status'" sortable="'status'" class="clickable-item" ng-if="user.admin && user.id!=payment.createdBy">
                        <span ng-if="!payment.status">
                            <a ng-click="approveOrRejectPayment(payment,'Approve')">Approve </a>
                            <a ng-click="approveOrRejectPayment(payment)">Reject</a>
                        </span>
                        <span ng-if="payment.status">
                           {{payment.status}}
                        </span>
                    </td>
                    <td style="width:10%">
                        <md-icon type="button" class="btn" ng-click="handleClickUpdatePayment(payment.id)">
                            <span class="glyphicon glyphicon-pencil" ng-if="payment.status == null"></span></md-icon>
                        <md-icon type="button" class="btn" ng-click="delete(payment.id)" ng-if="payment.status == null">
                            <span class="glyphicon glyphicon-trash"></span></md-icon>

                    </td>

                </tr>
                <tr ng-if="!pendingPayments || pendingPayments.length === 0">
                    <td colspan="7">No entries exist.  Please add some.</td>
                </tr>
            </table>
        </div>
        <div class="tab-content" ng-show="tab==2">
            Total {{approvedTotal}}
            <table class="table table-bordered table-condensed table-hover" ng-table="approvedTableParams">
                <tr ng-repeat="payment in approvedPayments">
                    <td data-title="'Date'" sortable="'date'" class="clickable-item" ng-click="goToExpense(expense.id)">{{payment.date | date}}</td>
                    <td data-title="'Description'" sortable="'description'" class="clickable-item" ng-click="goToExpense(expense.id)">
                        <a ng-if="payment.serviceFormId" ng-click="popUp(payment.serviceFormId)" >{{payment.description}}</a>
                        <a ng-if="payment.bookingId" ng-click="BookingDuePopUpPayments(payment.bookingId)">{{payment.description}}</a>
                        <span ng-if="!(payment.serviceFormId || payment.bookingId)">{{payment.description}}</span>
                    </td>
                    <td data-title="'Income'" sortable="'amount'" class="clickable-item" ng-click="goToExpense(expense.id)"> <span ng-if="payment.type=='INCOME'">{{payment.amount|number:2}}</span></td>
                    <td data-title="'Expesnse'" sortable="'amount'" class="clickable-item" ng-click="goToExpense(expense.id)"><span ng-if="payment.type=='EXPENSE'">{{payment.amount|number:2}}</span></td>
                    <td data-title="'CreatedBy'" class="clickable-item">{{payment.attributes.createdBy}}</td>
                    <td data-title="'ApprovedBy'" class="clickable-item"><span ng-if="payment.status != 'Auto'">{{payment.attributes.updatedBy}}</span></td>
                    <td data-title="'Status'" sortable="'status'" class="clickable-item">
                        <span ng-if="payment.status">
                           {{payment.status}}
                        </span>
                    </td>
                </tr>
                <tr ng-if="!approvedPayments || approvedPayments.length === 0">
                    <td colspan="7">No entries exist.  Please add some.</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div ng-show="loading">
    Please wait while the agents data is loaded <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>

<!-------------------------------------------- ADD -------------------------------------------------->
<script type="text/ng-template" id="add-payment-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add</h3>
    </div>
    <div class="modal-body">

        <!-- ---------------------------------------------------------------------------- -->
        <form name="addNewExpenseForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="expenseDate">Date</label>
                    <div class="col-sm-6">
                        <p class="input-group">
                            <input type="text" id="expenseDate" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <input type="text" id="description" class="form-control" ng-model="payment.description" placeholder="Description">
                </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="expenseAmount">Amount</label>
                    <div class="col-sm-6">
                        <input type="number" id="expenseAmount" class="form-control" ng-model="payment.amount" placeholder="Amount" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-6">
                        <p class="input-group">
                            <input type="radio" ng-model="payment.type" value="EXPENSE" value="EXPENSE"> Expense
                            <input type="radio" ng-model="payment.type" value="INCOME" value="INCOME"> Income
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="branchOffice">Branch</label>
                    <div class="col-sm-6">
                        <select id="branchOffice" ng-options="office.id as office.name for office in offices" class="form-control" ng-model="payment.branchOfficeId" ng-if="user.admin"></select>
                        <input ng-if="!user.admin" class="form-control" value="{{ user.attributes.branchName }}" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="add()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>



<!-- model popup for service --->

        <script type="text/ng-template" id="service-form-modal.html">
            <div class="modal-header">
                <h3 class="modal-title">{{service.serviceName}}</h3>
            </div><br/>
            <form class="form-horizontal">
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Created By: </label>
                <div class="col-sm-6">{{service.createdBy}}</div>
            </div>
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Created At:</label>
                <div class="col-sm-6">{{service.createdAt}}</div>
            </div>
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Conductor Info:</label>
                <div class="col-sm-6">{{service.conductorInfo}}</div>
            </div>
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Journey Date:</label>
                <div class="col-sm-6">{{service.jdate}}</div>
            </div>
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Net Income - Redbus:</label>
                <div class="col-sm-6">{{service.netRedbusIncome | number:2}}</div>
            </div>
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Net Income - Online:</label>
                <div class="col-sm-6">{{service.netOnlineIncome | number:2}}</div>
            </div>
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Net Income - Cash:</label>
                <div class="col-sm-6">{{service.netCashIncome | number:2}}</div>
            </div>
            <div class="form-group"><label class="col-sm-4 col-sm-offset-1">Total Income:</label>
                <div class="col-sm-6">{{service.netIncome | number:2}}</div>
            </div>
            </form>
            <div class="modal-footer">
                <a class="btn btn-success" ng-click="cancel()" href="#!/serviceform/{{service.id}}">All Details</a>
                <button class="btn btn-warning" ng-click="cancel()">Ok</button>
            </div>

        </script>


<! ------- MODEL POPUP FOR THE BOOKING DUE ------ >

            <script type="text/ng-template" id="booking-popup-modal.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{booking.serviceName}}</h3>
                </div><br/>
                <form class="form-horizontal col-xs-offset-1">
                    <div class="form-group"><label class="col-sm-3 col-sm-offset-1">Booked By: </label>
                        <div class="col-sm-6">{{booking.bookedBy}}</div>
                    </div>
                    <div class="form-group"><label class="col-sm-3 col-sm-offset-1">Booked Date: </label>
                        <div class="col-sm-6">{{booking.bookedDate}}</div>
                    </div>
                    <div class="form-group"><label class="col-sm-3 col-sm-offset-1">Passenger :</label>
                        <div class="col-sm-6">{{booking.name}}</div>
                    </div>
                    <div class="form-group"><label class="col-sm-3 col-sm-offset-1">Service No :</label>
                        <div class="col-sm-6">{{booking.serviceNumber}}</div>
                    </div>
                    <div class="form-group"><label class="col-sm-3 col-sm-offset-1">Journey Date:</label>
                        <div class="col-sm-6">{{booking.jdate}}</div>
                    </div>
                    <div class="form-group"><label class="col-sm-3 col-sm-offset-1">Cleared Amount:</label>
                        <div class="col-sm-6">{{booking.netAmt | number:2}} ({{booking.paymentType}})</div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">Ok</button>
                </div>

            </script>