<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>

<div>
    <div class="toolbar-button-div pull-right">
        <button type="button" class="btn btn-sm btn-primary" ng-click="addPersonOnClick()"><span class="glyphicon glyphicon-plus"></span> Add Person</button>
    </div>
    <br>
    <div class="container">
        <table class="table">
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in persons">
                <td>{{person.id}}</td>
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.phone}}</td>
                <td><button type="button" class="btn btn-sm btn-danger" ng-click="deletePersonOnClick(person.id)">
                    <span class="glyphicon glyphicon-remove-sign"></span>Delete Person</button>
                </td>
                <td><button type="button" class="btn btn-sm btn-warning" ng-click="updatePersonOnClick(person.id)">
                    <span class="glyphicon glyphicon-ok"></span>Update Person</button>
                </td>

            </tr>
            </tbody>

        </table>
    </div>
</div>


<!-- Modal popup for adding a Person -->

<script type="text/ng-template" id="add-person-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add a Person</h3>
    </div>
    <div class="modal-body">
        <form name="personDetailsForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="row">
                    <div class="col-sm-7">
                        <input type="text" id="personNameInput" class="form-control" ng-model="person.name">
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Age</label>
                <div class="col-sm-7">
                    <input type="text" id="personAgeInput" class="form-control" ng-model="person.age">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-7">
                    <input type="text" id="personPhoneInput" class="form-control" ng-model="person.phone">
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="!isInputValid()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Model popup for Updating a person -->

<script type="text/ng-template" id="update-person-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update a Person</h3>
    </div>
    <div class="modal-body">
        <form name="personDetailsForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="row">
                    <div class="col-sm-7">
                        <input type="text" id="updatePersonNameInput" class="form-control" ng-model="person.name" required ng-valid="person.name != ''">
                        <!--<state-options id="modalStateInput" class="field" name="modalStateInput" ng-model="person.name" required></state-options>-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Age</label>
                <div class="col-sm-7">
                    <input type="text" id="updatePersonAgeInput" class="form-control" ng-model="person.age">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-7">
                    <input type="text" id="updatePersonPhoneInput" class="form-control" ng-model="person.phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Cities Lived</label>
                <div class="col-sm-7">
                    <select name="allCities" id="allCities" ng-model="citySelected">
                        <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                    </select>
                    <button ng-click="addLivingCity(citySelected)">Add</button>
                    <br/>
                    Cities Selected
                    <div>
                        <span ng-repeat="cityId in person.citiesLived" ng-click="removeLivingCity(cityId)" class="bg-danger"> {{cityId}} </span>
                        <br/>
                        {{person.citiesLived}}
                    </div>
                    <br/>

                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(person.id)" ng-disabled="!isInputValid()">Update</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-------------------------------------Model popup for deleting a person----------------------------------->

<script type="text/ng-template" id="delete-person-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Do You want to delete a Person?</h3>
    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(person.id)">Delete</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>