<div class="container" ng-show="!loading" >
    <legend>{{ headline }}</legend><br/>

    <div class="bpdp-tab" ng-init="tab=1">

        <ul>
            <li class="tab"  ng-class="{active:tab==1}">
                <a href ng-click="tab = 1">Return Tickets By Date</a>
            </li>
            <li class="tab" ng-class="{active:tab==2}">
                <a href ng-click="tab = 2">Return Tickets By Agent</a>
            </li>
            <li class="tab" ng-class="{active:tab==3}">
                <a href ng-click="tab = 3">All Return Tickets</a>
            </li>
        </ul>
        <div class="tab-content" ng-show="tab==1">
            <div class="toolbar-button-div pull-right">
                <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddExpense()" ng-if="canAddExpense()"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </div>
            <table class="table table-bordered table-condensed table-hover" ng-table="returnTicketsByDateTableParams">
                <tr ng-repeat="(key,value) in currentPageOfReturnTickets">
                    <td data-title="'Date'" class="clickable-item col-md-1" ng-click="showReturnTicketsByDate(key)"><a>{{ key | date }}</a></td>
                </tr>
                <tr ng-if="!currentPageOfReturnTickets || currentPageOfReturnTickets.length === 0">
                    <td colspan="7">No entries exist.  Please add some.</td>
                </tr>
            </table>
        </div>
        <div class="tab-content" ng-show="tab==2">
            <div ng-show="!downloaded">
            <table class="table table-bordered table-condensed table-hover" ng-table="returnTicketsByAgentTableParams">
                <tr ng-repeat="(key,value) in currentPageOfAgentReturnTickets">
                    <td data-title="'Agent'" class="clickable-item col-md-1" ng-click="showReturnTicketsByAgent(key)" ><a>{{ key }}</a></td>
                </tr>

                <tr ng-if="!currentPageOfAgentReturnTickets || currentPageOfAgentReturnTickets.length === 0">
                    <td colspan="8">No dues found for branch {{officeDue.name}}. </td>
                </tr>
            </table>
            </div>
            <div ng-show="downloaded">
                Please wait while the data is loading <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </div>

        </div>

        <div class="tab-content" ng-show="tab==3">
            <div ng-show="!returned">
            <table class="table table-bordered table-condensed table-hover" ng-table="allReturnTicketsTableParams">
                <tr ng-repeat="returnTickets in currentPageOfAllReturnTickets">
                    <td data-title="'BookedBy'"  sortable="'bookedBy'" class="clickable-item col-md-1">{{ returnTickets.bookedBy }}</td>
                    <td data-title="'Passenger'"  sortable="'name'" class="clickable-item col-md-1">{{ returnTickets.name }}</td>
                    <td data-title="'Route'"  sortable="'serviceName'" class="clickable-item col-md-1">{{ returnTickets.serviceName }}</td>
                    <td data-title="'Service'"  sortable="'serviceNumber'" class="clickable-item col-md-1">{{ returnTickets.serviceNumber }}</td>
                    <td data-title="'JourneyDate'"  sortable="'jdate'" class="clickable-item col-md-1">{{ returnTickets.jdate }}</td>
                    <td data-title="'BookedOn'"  sortable="'bookedDate'" class="clickable-item col-md-1" >{{ returnTickets.bookedDate }}</td>
                </tr>

                <tr ng-if="!currentPageOfAllReturnTickets || currentPageOfAllReturnTickets.length === 0">
                    <td colspan="8">No dues found for branch {{officeDue.name}}. </td>
                </tr>
            </table>
            </div>
            <div ng-show="returned">
                Please wait while the data is loading <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </div>
        </div>
</div>
</div>

<div ng-show="loading">
    Please wait while the data is loading <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>
