<legend>{{ headline }}</legend>

<div class="toolbar-button-div pull-right">
    <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddNewRole()"><span class="glyphicon glyphicon-plus"></span> Add New Role</button>
</div>
<br/>
<br/>
<table class="table table-bordered table-condensed table-hover" ng-table="roleContentTableParams">
	<tr ng-repeat="role in currentPageRoles" ng-class="role.name?'':'bg-danger'">
		<td  data-title="'Role Name'" sortable="'name'" class="clickable-item col-md-6" ng-click="">{{role.name}}</td>
		<td class="col-md-2">
	        <md-button>
	            <md-icon type="button" class="btn" ng-click="initForUpdateRole(role.id)">
	            <span class="glyphicon glyphicon-pencil"></span></md-icon>
	        </md-button>
        </td>
        <td class="col-md-2">
            <md-button>
                <md-icon type="button" class="btn" ng-click="deleteRole(role.id)">
                    <span class="glyphicon glyphicon-remove"></span></md-icon>
            </md-button>
        </td>
   </tr>
    <tr ng-if="!currentPageRoles || currentPageRoles.length === 0">
        <td colspan="4">No expenses exist.  Please add some.</td>
    </tr>
</table>


<!-- modal popup for adding new Role -->

<script type="text/ng-template" id="addOrUpdate-newRoles.html">
    
	<div class="modal-header">
		<div class="row">
            <div class="col-sm-11">
        		<h3 class="modal-title">Add a New Role</h3>
    		</div>
 			<div class="col-sm-1">
        		<md-button>
            		<md-icon type="button" class="btn-sm" ng-click="cancel()">
               			<span class="glyphicon glyphicon-remove"></span>
					</md-icon>
           		</md-button>
        	</div>
		</div>
	</div>
    <div class="modal-body">

        <!-- ---------------------------------------------------------------------------- -->
        <form name="newRoleNeighForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-7 col-xs-offset-2">
                    <input type="text" id="roleName" class="form-control" ng-model="role.name" placeholder="Role Name">
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-if="isForRoleUpdate" ng-click="UpdateNewRole(role.id,role)" ng-disabled="!isInputValid()">Update Role</button>
		<button class="btn btn-primary" ng-if="!isForRoleUpdate" ng-click="addNewRole()" ng-disabled="!isInputValid()">Add Role</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
