<legend>{{ headline }}</legend>

<div class="toolbar-button-div pull-right">
     <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddNewRoute()"><span class="glyphicon glyphicon-plus"></span> Add New Route</button>
</div>

<table class="table table-bordered table-condensed table-hover" id="routeTable" ng-table="routeContentTableParams">
    <tr ng-repeat="route in currentPageOfRoutes" ng-class="route.active?'':'bg-danger'">
        <td data-title="'Name'"  id="routeName" sortable="'name'" class="clickable-item col-md-6">{{ route.name }}</td>
        <td data-title="'From City'" sortable="'fromCityId'"class="clickable-item col-md-4">{{ route.attributes.fromCity}}<!-- {{route.id}} --></td>
        <td data-title="'To City'"  sortable="'toCityId'" class="clickable-item col-md-6">{{ route.attributes.toCity }}</td>
        <td class="col-md-2">
            <md-button>
                <md-icon type="button" class="btn" ng-click="handleClickUpdateRoute(route.id)">
                    <span class="glyphicon glyphicon-pencil"></span></md-icon>
            </md-button>
        </td>
        <td class="col-md-2">
            <md-button>
                <md-icon type="button" class="btn" ng-click="handleClickDeleteRoute(route.id)">
                    <span class="glyphicon glyphicon-remove"></span></md-icon>
            </md-button>
        </td>

    </tr>`
    <tr ng-if="!currentPageOfRoutes || currentPageOfRoutes.length === 0">
        <td colspan="4">No routes exist.  Please add some.</td>
    </tr>
</table>

<!-- Model popup for Adding new Route -->

<script type="text/ng-template" id="add-route-modal.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-11">
                <h3 class="modal-title">Add a New Route</h3>
            </div>
            <div class="col-sm-1">
                <md-button>
                    <md-icon type="button" class="btn-sm" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span></md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <!-- ---------------------------------------------------------------------------- -->
        <form name="routeAddForm" class="form-horizontal" role="form" autocomplete="off">
            <div class="form-group">
                <!-- <label class="col-sm-3 control-label" for="modalRouteName">Name</label> -->
                    <div class="col-sm-7 col-xs-offset-2">
                        <input name="modalRouteName" type="text" id="routeInput" class="form-control" ng-model="route.name" placeholder="Enter name for the Route"
                               ng-mouseleave="onMouseLeave(route.name)">
                    </div>
            </div>




            <div class="form-group">
                <div class="col-sm-6 col-xs-offset-2">
                <select ng-options="city.id as city.name for city in cities" class="form-control" ng-model="route.fromCityId"  required >
                    <option value="">--Select Origin City--</option>
                </select>
                </div>
            </div>




            <div class="form-group">
                <div class="col-sm-6 col-xs-offset-2">
                <select ng-options=" city.id as city.name for city in cities" class="form-control" ng-model="route.toCityId"   required>
                    <option value="">--Select Destination City--</option>
                    </select>

                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-6 col-xs-offset-2">
                    <select name="modalRouteViaCities" ng-model="selectedViaCityId" ng-options="city.id as city.name for city in cities" class="form-control">
                        <option value="">--Select Via City--</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-xs" id="modalRouteAddViaCitiesButton" ng-click="addTheCity(selectedViaCityId)">Add</button>
                </div>
            </div>

            <div class="form-group">
                <ul class="col-sm-7 col-xs-offset-2" style="list-style-type:none" id="deleteViaCityFromList">
                    <li id="cityInCitiesFromService" ng-repeat="city in selectedViaCities">
                        {{city.name}}
                        <md-button>
                            <md-icon type="button" class="btn-sm" ng-click="deleteCityFromList(city.id)">
                                <span class="glyphicon glyphicon-remove"></span></md-icon>
                        </md-button>
                    </li>
                </ul>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label checkbox" for="activeInactive">Active</label>
                <div class="col-sm-1 ">
	            	<input type="checkbox" id="activeInactive" class="form-control" ng-model="route.active">
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled = "routeAddForm.$invalid">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Model popup for Updating a Route -->

<script type="text/ng-template" id="update-route-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update Route</h3>
    </div>
    <div class="modal-body">

        <!-- ---------------------------------------------------------------------------- -->
        <form name="routeUpdateForm" class="form-horizontal" role="form" autocomplete="off">
            <div class="form-group">
               	<div class="col-sm-7 col-xs-offset-2">
                	<input type="text" placeholder="Enter name for the route" id="modalRouteName" class="form-control" ng-model="route.name" requried>
            	</div>
            </div>

            <div class="form-group">
                <div class="col-sm-6 col-xs-offset-2">
                    <select ng-options=" city.id as city.name for city in cities" class="form-control" ng-model="route.fromCityId" required>
                        <option value="">--Select Origin City--</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6 col-xs-offset-2">
                    <select ng-options=" city.id as city.name for city in cities" class="form-control" ng-model="route.toCityId" required>
                        <option value="">--Select Destination City--</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-xs-offset-2">
                    <select id="modalRouteViaCities"  class="form-control" ng-model="selectedViaCity" ng-options="city.id as city.name for city in cities">
                        <option value="">--Select Via City--</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <button class="btn btn-primary btn-xs" id="modalRouteViaCitiesButton" ng-click="addTheCity(selectedViaCity)">Add</button>
                </div>
            </div>

            <div class="form-group">
                <ul class="col-sm-7 col-xs-offset-2"  style="list-style-type:none"  id="updateViaCityFromList" >
                    <li id="cityInCitiesFromUpdate" ng-repeat="city in selectedViaCities">
                        {{city.name}}
                        <md-button>
                            <md-icon type="button" class="btn-sm" ng-click="deleteCityFromList(city.id)">
                                <span class="glyphicon glyphicon-remove"></span></md-icon>
                        </md-button>
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label checkbox" for="activeOrInactive">Active</label>
                    <div class="col-sm-1">
                        <input type="checkbox" id="activeOrInactive" class="form-control" ng-model="route.active">
                    </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled = "routeUpdateForm.$invalid">Update</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


