<div ng-show="downloaded" >
    <table class="table table-bordered table-condensed table-hover" >
        <tr><td>From: {{service.source}}</td> <td>To:{{service.destination}}</td> <td>Journey Date:{{service.jdate}}</td><td>{{service.busType}}</td></tr>
        <tr><td>Conductor: {{service.conductorInfo}}</td> <td>Vehicle:{{service.vehicleRegNumber}}</td> <td>Received At: {{currentUser.attributes.branchName}}</td><td>{{service.serviceNumber}}</td></td></tr>
    </table>
    <table class="table table-bordered table-condensed table-hover">
        <tr><td>Net Income - Redbus</td><td>{{service.netRedbusIncome}}</td>
            <td>Net Income - Online</td><td>{{service.netOnlineIncome}}</td>
            <td>Net Income - Cash</td><td>{{service.netCashIncome}}</td>
            <td>Total Income</td><td>{{service.netIncome}}</td>
        </tr>
    </table>
    <div class="row">

        <div class="col-sm-7" style="overflow-y: auto;height: 60%;">
            <h4>Bookings</h4>
            <table class="table table-bordered table-condensed table-hover" ng-table="bookingsTableParams">
                <tr ng-repeat="booking in currentPageOfBookings" ng-s ng-class="{changedRate: rateToBeVerified(booking)}">
                    <td data-title="'Seats'"  sortable="'seats'" class="clickable-item col-md-1">
                        <span ng-show="booking.id != null" title="{{booking.seats}}">
                             {{ booking.seats | cut:true:10:' ...'}}
                        </span>
                        <span ng-show="booking.id == null">
                             <input ng-model="booking.seats" style="width:100px;" ng-change="countSeats()">
                        </span>
                    </td>
                    <td data-title="'Tikcet#'"  sortable="'ticketNo'" class="clickable-item col-md-1">
                        {{ booking.ticketNo }}
                    </td>
                    <td data-title="'BookedBy'"  sortable="'bookedBy'" class="clickable-item col-md-2"
                        ng-style="isNotOnlineBooking(booking) && !booking.hasValidAgent && {'background-color':'red'}">
                        <span ng-show="booking.id != null" >
                             {{ booking.bookedBy}}
                        </span>
                        <span ng-show="booking.id == null">
                             <select ng-options="agent.username as agent.username for agent in agents" class="form-control" ng-model="booking.bookedBy"></select>
                        </span>
                    </td>
                    <td data-title="'Name'"  sortable="'name'" class="clickable-item col-md-1">
                        <span ng-show="booking.id != null" title="{{booking.name}}">
                             {{ booking.name | cut:false:10:' ...'}}
                        </span>
                        <span ng-show="booking.id == null">
                             <input ng-model="booking.name" style="width:100px;">
                        </span>
                    </td>
                    <td data-title="'NetAmt'"  class="clickable-item col-md-2" >
                        <span ng-show="isOnlineBooking(booking)">{{booking.netAmt}} </span>
                        <span ng-show="isCashBooking(booking)">
                            <div class="row">
                                <div class="col-sm-5"><input type="number" ng-model="booking.netAmt" ng-change="calculateNet(booking)" style="width:70px;">
                                </div>
                                <div class="col-sm-4"><input type="checkbox" ng-model="booking.due" ng-change="calculateNet(booking)">Due</div>
                                <div class="col-sm-1" ng-if="booking.index">
                                    <span class="glyphicon glyphicon-remove-sign"  ng-click="deleteBooking(booking)"></span>
                                </div>
                            </div>
                        </span>
                    </td>
                    <td data-title="'Cost'"  class="clickable-item col-md-2" >
                        {{booking.originalCost}}
                    </td>
                    <td data-title="'Service Tax'"  class="clickable-item col-md-2" >
                        {{booking.serviceTax}}
                    </td>
                </tr>
                <tr><td>Total Seats:{{service.totalSeats}}</td></tr>
                <tr ng-if="!currentPageOfBookings || currentPageOfBookings.length === 0">
                    <td colspan="5">No bookings found. </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-5">
            <h4>Expenses</h4>
            <table class="table table-bordered table-condensed table-hover">
                <tr ng-repeat="expense in service.expenses">
                    <td><input type="text" placeholder="expense name" ng-model="expense.name"></td>
                    <td><input type="number" placeholder="amount" ng-model="expense.amount" ng-change="calculateNet()">
                        <span class="glyphicon glyphicon-remove-sign" ng-show="expense.index" ng-click="deleteExpense(expense)"></span>
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-sm btn-primary" ng-click="addExpense()">
                <span class="glyphicon glyphicon-plus"></span> Add Expense
            </button>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <h6>Service Notes</h6>
                <div class="col-sm-12">
                    <textarea ng-model="service.notes" style="width:80%;height:150px;"></textarea>
                </div>
            </div>
        </div>
    </div >
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-sm btn-primary" ng-click="addBooking()">
                <span class="glyphicon glyphicon-plus"></span> Add Booking
            </button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-sm btn-danger" ng-click="haltService()" ng-if="!service.invalid && !service.status">
                <span class="glyphicon"></span> Halted Service
            </button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="submit()" ng-if="requireVerification()">
                <span class="glyphicon"></span> Submit For Verification
            </button>
            <button type="button" class="btn btn-sm btn-success" ng-click="submit()" ng-if="canSubmit()">
                <span class="glyphicon"></span> Submit Report
            </button>
            <span ng-if="service.status" style="color:red"> Service report has been submitted on {{service.updatedAt|date}} by {{service.attributes.updatedBy}}</span>
            <span ng-show="service.invalid" style="color:red;">Please assign branch offices to agents <a ng-click="launchAgents()">here</a></span>
        </div>

    </div>
<br/>

</div>

<div ng-show="!downloaded">
    Please wait while the report data is loaded <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>