<div class="toolbar-button-div pull-right">
    <button type="button" class="btn btn-sm btn-primary" ng-click="addVehicleOnClick()"><span
            class="glyphicon glyphicon-plus"></span> Add Vehicle
    </button>
</div>
<table class="table table-bordered table-condensed table-hover" ng-table="vehicleContentTableParams">
    <tr ng-repeat="vehicle in currentPageOfVehicles" ng-class="vehicle.active?'':'bg-danger'">
        <td data-title="'Vehicle Type'"  sortable="'vehicleType'" class="clickable-item col-md-6">{{ vehicle.vehicleType }}</td>
        <td data-title="'Registration #'"sortable="'regNo'" class="clickable-item col-md-4">{{ vehicle.regNo }}</td>
        <td data-title="'Description'" class="clickable-item col-md-4">{{ vehicle.description }}</td>
        <td data-title="'Active'" class="clickable-item col-md-4">{{ vehicle.active }}</td>
        <td>
            <md-button>
                <md-icon type="button" class="btn" ng-click="deleteVehicleOnClick(vehicle.id)">
                    <span class="glyphicon glyphicon-remove"></span></md-icon>
            </md-button>
        </td>
        <td>
            <md-button>
                <md-icon type="button" class="btn" ng-click="updateVehicleOnClick(vehicle.id)">
                    <span class="glyphicon glyphicon-pencil"></span></md-icon>
            </md-button>
        </td>
    </tr>
    <tr ng-if="!currentPageOfVehicles || currentPageOfVehicles.length === 0">
        <td colspan="4">No Vehicle exist.  Please add some.</td>
    </tr>
</table>
<!------------------------- modal popup for adding vehicle------------------------------------------------- -->
<script type="text/ng-template" id="add-vehicle-modal.html">
    <div class="modal-header">
		<div class="row">
            <div class="col-sm-11">
        		<h3 class="modal-title">Add a Vehicle</h3>
			</div>
 			<div class="col-sm-1">
        		<md-button>
            		<md-icon type="button" class="btn-sm" ng-click="cancel()">
               			<span class="glyphicon glyphicon-remove"></span>
					</md-icon>
           		</md-button>
        	</div>
		</div>
    </div>
    <div class="modal-body">
        <form name="addVehicleForm" role="form" class="container-fluid">
            <div class="form-group">
                <div class="row top-buffer-5">
                    <!-- <label class="col-sm-2 control-label" for="addVehicle">RegNo#</label> -->
                    <label class="col-xs-1 control-label" >Reg.No<span class="data-required">*</span></label>
                    <div class="col-xs-7 col-xs-offset-1">
                        <div class="form-group" ng-class="{ 'has-error': addVehicleForm.regNo.$invalid && addVehicleForm.regNo.$dirty }">
                            <input type="text" placeholder ="RegNo" class="form-control" name="regNo" ng-model="vehicle.regNo"
                                   placeholder="RegNo." ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="row top-buffer-5">
                    <!-- <label class="col-sm-2 control-label" for="addVehicle">Type</label> -->
                    <div class="col-xs-7 col-xs-offset-2">
                        <div class="form-group" ng-class="{ 'has-error': addVehicleForm.vehicleType.$invalid && addVehicleForm.vehicleType.$dirty}">
                            <input type="text" placeholder ="Vehicle Type" id="modalAddNeighInput" name="type" class="form-control"
                                   ng-model="vehicle.vehicleType" placeholder="Vehicle Type">
                        </div>
                    </div>
                </div>
                <div class="row top-buffer-5">
                    <!-- <label class="col-sm-2 control-label" for="addVehicle">Description</label> -->
                    <div class="col-xs-7 col-xs-offset-2">
                        <div class="form-group" ng-class="{ 'has-error': addVehicleForm.description.$invalid && addVehicleForm.description.$dirty }">
                            <input type="text" placeholder ="Description" class="form-control" name="description" ng-model="vehicle.description"
                                   placeholder="Description">
                        </div>
                    </div>
                </div>


                <div class="row top-buffer-5">
					<div class="col-xs-7 col-xs-offset-2">
                    <label class="col-sm-4 control-label checkbox" for="addVehicle">Active</label>
                    <div class="col-sm-2">
                        <input type="checkbox" id="addVehicle" class="form-control" ng-model="vehicle.active">
                    </div>
					</div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok(id)">Add</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>

            </div>
        </form>
    </div>
</script>
<!------------------------- modal popup for updating vehicle------------------------------------------------- -->
<script type="text/ng-template" id="update-vehicle-modal.html">
    <div class="modal-header">
		<div class="row">
            <div class="col-sm-11">
        		<h3 class="modal-title">Update Vehicle</h3>
			</div>
 			<div class="col-sm-1">
        		<md-button>
            		<md-icon type="button" class="btn-sm" ng-click="cancel()">
               			<span class="glyphicon glyphicon-remove"></span>
					</md-icon>
           		</md-button>
        	</div>
		</div>
    </div>
    <div class="modal-body">
        <form name="updateVehicleForm" role="form" class="container-fluid">

            <div class="row top-buffer-5">
                <!-- <label class="col-sm-2 control-label" for="vehicleUpdate">RegNo#</label> -->
                <label class="col-xs-1 control-label" >Reg.No<span class="data-required">*</span></label>
                <div class="col-xs-7 col-xs-offset-1">
                    <input type="text" class="form-control" ng-model="vehicle.regNo"
                           placeholder="regNo" required>
                </div>
            </div>

            <div class="row top-buffer-5">
                <!-- <label class="col-sm-2 control-label" for="vehicleUpdate">Type</label> -->
                <div class="col-xs-7 col-xs-offset-2">
                    <input type="text" id="modalUpdateNeighInput" class="form-control" ng-model="vehicle.vehicleType"
                           placeholder="Type">
                </div>
            </div>
            <div class="row top-buffer-5">
                <!-- <label class="col-sm-2 control-label" for="vehicleUpdate">Description</label> -->
                <div class="col-xs-7 col-xs-offset-2">
                    <input type="text" class="form-control" ng-model="vehicle.description"
                           placeholder="Description">
                </div>
            </div>

            <div class="row top-buffer-5">
				<div class="col-xs-7 col-xs-offset-2">
                	<label class="col-sm-2 control-label checkbox" for="vehicleUpdate">Active</label>
                	<div class="col-sm-2">
                    	<input type="checkbox" id="vehicleUpdate" class="form-control" ng-model="vehicle.active">
                	</div>
				</div>
            </div>
        </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(vehicle.id)">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>